.settings
.cache-main
.cache-tests
.project
.classpath
/metastore_db/
/bin/
/testdata/udemy/spark/core/output
/testdata/databricks/output
/testdata/hadoopexam/sparkSql/output
/testdata/hadoopexam/output
/testdata/usconsesus
/target/